/*
Author: Badr El Rhazi
*/
.indexBody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 20px;
    color: #777;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d6596;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1e87d6;
}

/* Intervall Seite */
.intervallBody {
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.myForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnGenerate {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btnGenerate:hover {
    background-color: #1e87d6;
}
/* Lucky Number Seite*/
.luckNbr {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.result {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    margin-top: 10px;
}



footer h1{
    background-color: #1d6596;
    color: #ffffff;
    text-align: center;
    text-decoration: double;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}